*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.text{
    display: flex;
    /* border: 1px solid black; */
    margin: 0px auto;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}
.first-text , .right-text{
    /* border: black 1px solid; */
    margin: 0;

}
.first-text {
    /* font-size: large; */
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}
.right-text{
    color: gray;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* section2 */



.section1{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 0px auto;
    height: 400px;
}



.section1-pic1{
    /* border: red 1px solid; */
    width: 50%;
    margin: 5px 10px;
    background-image: url("pictures/pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* opacity: 1; */
    /* align-items:center\; */
    padding-bottom: 5px;
}

#section1-text2
{
    line-height: 25px;
/* border: 1px solid white; */
width: 85%;
color: white;
margin: 2px 15px;
font-size: 1.2rem;
margin-bottom: 10px;
font-weight: lighter;
}
.section1-pic1 > span
{
color: white;
text-transform: uppercase;
font-size: 0.8rem;
font-weight: lighter;
/* border: 1px solid blue; */
/* display: inline-block; */
width: 15%;
margin-left: 22px;
margin-bottom: 5px;
}

#section1-title::before{
    content: ' ';
    background-color: red;
    width: 1.5px;
    height: 11.5px;
    position: absolute;
    top: 444px;
    left: 120px;
    /* bottom: 0px; */
}

#section1-text1{
    color: white;
    font-size: 2.5rem;
    line-height:45px ;
    /* border: 1px solid blue; */
    /* text-align: center; */
    width: 95%;
    margin: 10px auto;
}
.section2{
    /* border: blue 1px solid; */
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.section2-pic
{
    /* border: 1px solid red; */
    width: 46%;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
#pic1{
    background:rgba(0,0,0,0.4)url("pictures/pic2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
 background-blend-mode: darken;
    background-position:inherit;
    /* opacity:; */
}
#pic2{
    background:rgba(0,0,0,0.4)url("pictures/pic3.png");
    background-repeat: no-repeat;
    background-size:cover;
 background-blend-mode: darken;
    background-position:inherit;
}

#pic3{
    background:rgba(0,0,0,0.3)url("pictures/pic4.png");
    background-repeat: no-repeat;
    background-size:cover;
 background-blend-mode: darken;
    background-position:inherit;
}

#pic4{
    background:rgba(0,0,0,0.4)url("pictures/pic5.png");
    background-repeat: no-repeat;
    background-size:cover;
 background-blend-mode: darken;
    background-position:inherit;
}

.section2-text1{
    /* border: 1px solid red; */
    margin: 0px 10px;
    width: 90%;
    color: white;
    font-size: 1.7rem;
    /* text-transform: l; */
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 5px;
    /* border: 1px solid blue; */
    position: relative;
}
.text3{
    color: white;
    font-size: 0.8rem;
    /* border: 1px solid black; */
    margin: 1px auto;
    width: 90%;
    font-weight: bold;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
}

.text3::before{
    content: ' ';
    background-color: red;
    /* width: 1.3px; */
    width: 1.3px;
    height: 10px;
    position: absolute;
    /* right: px; */
    /* bottom: 300px;
    left: 10px; */
    left: -6px;
    top: 7px;
    

}
#section2-text4 + span::before{
  background-color: green;
  width: 1.7px;
}

/* .section3 */
.News{
/* border: 1px solid blue; */
width: 90%;
margin: 0px auto;
margin-top: 30px;
margin-bottom: 15px;
font-size: 1.5rem;

}
.newstext{
    margin: 0;
    /* padding-left: 12px; */
    margin-left: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
    position: relative;
}
.newstext::before{
    content: ' ';
    background-color: red;
    width: 2.4px;
    height: 17px;
    position: absolute;
    top: 5.4px;
    left: -10px;
}

/* section3 */

.section3{
    /* border: 2px solid black; */
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;

}

.section3-box{
    /* border: 1px solid red; */
    width: 32%;
    margin: 0px 9px;
    height: 100%;
    margin-right: 30px;
}
.section3-pic{
    width: 100%;
    height: 60%;
}
.section3-pic + h4{
    /* border: 1px solid black; */
    font-weight: 900;
    color: rgba(0, 0, 0, 0.925);
    width: 90%;
    margin: 2px 0px;
    margin-bottom: 10px;
    font-size: 1.9rem;
}

.section3-pic + h4 + p{
    /* border: 1px solid blue; */
    width: 90%;
    margin: 0px 0px;
    font-weight: lighter;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.753);
}